@model BaseViewModel
<script type="text/javascript" src="~/scripts/Users.js"></script>
<link rel="stylesheet" href="~/styles/home.css" />
<link rel="stylesheet" href="~/styles/users.css" />
<link rel="stylesheet" href="~/styles/select.css" />
<link rel="stylesheet" href="~/styles/modal.css" />
<link rel="stylesheet" href="~/styles/btns.css" />
<link rel="stylesheet" href="~/styles/header.css" />
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<div class="header" id="header">
    <h2>USERS</h2>
    <ul class="nav-bar-item clearfix">
        <li class="header-item">
            <a class="header-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
    </ul>
</div>
<div class="users-container clearfix" id="users-container">
    <div class="sidebar" id="sidebar">
        <h2>MENU</h2>
    </div>
    <div class="user-list clearfix" id="user-list">
        <button class="create-user-btn btns" id="create-user-btn">Add New User!</button>
        <div class="user-list-header-div clearfix">
            <span style="width:200px;" class="user-list-item">Full Name</span>
            <span class="user-list-item">Username</span>
            <span class="user-list-item">Email</span>
            <span class="user-list-item">Phone</span>
            <span class="user-list-item">Type</span>
            <span class="user-list-item">Manager Id</span>
            <span class="user-list-item">Gender</span>
            <span class="user-list-item">Is Active</span>
            <span class="user-list-item">BirthYear</span>
        </div>
    </div>
</div>
<!-- The Modal -->
<div class="modal-backgrand" id="modal-backgrand"></div>
<div id="myModal" class="modal">
    <div class="modal-content" id="modal-content">
        <span class="close">&times;</span>
        <div class="create-user-title">Select Authority:</div>
        <div class="create-user-div">
            <select class="user-type select" id="user-type">
                <option value="1">Admin</option>
                <option value="0">Manager</option>
                <option value="2">Employee</option>
            </select>
            <button class="btns" id="type-btn">Type Check</button>
        </div>
        <div class="create-user-title">Username:</div>
        <div class="create-user-div"><input class="create-user-input" type="text" id="user-create-username" /></div>
        <div class="create-user-title">Password:</div>
        <div class="create-user-div"><input class="create-user-input" type="password" id="user-create-password" /></div>
        <div class="create-user-title">Full Name:</div>
        <div class="create-user-div"><input class="create-user-input" type="text" id="user-create-fullname" /></div>
        <div class="create-user-title">Email:</div>
        <div class="create-user-div"><input class="create-user-input" type="text" id="user-create-email" /></div>
        <div class="create-user-title">Gender:</div>
        <select class="gender select" id="gender">
            <option value="0">Female</option>
            <option value="1">Male</option>
        </select>
        <div class="create-user-title">Phone:</div>
        <div class="create-user-div"><input class="create-user-input" type="text" id="user-create-phone" /></div>
        <div class="create-user-title">BirthYear:</div>
        <div class="create-user-div"><input class="create-user-input" type="text" id="user-create-birthyear" /></div>
        <div class="create-user-title">Select Manager:</div>
        <div class="create-user-div manager-title" id="manager-title"></div>
        <div class="create-user-div"><button class="btns" id="add-user-btn">Add User</button></div>
    </div>
</div>
<div class="page-numbers">
    <button value="1" class="page-number" id="page-number-1">1</button>
    <button value="2" class="page-number" id="page-number-1">2</button>
    <button value="3" class="page-number" id="page-number-1">3</button>
</div>
<div id="error" style="margin-bottom:60px;margin-left:40px;display:none;"></div>
