@model BaseViewModel
<script type="text/javascript" src="~/scripts/User.Login.js"></script>
<link rel="stylesheet" href="~/styles/home.css" />
<link rel="stylesheet" href="~/styles/users.css" />
<link rel="stylesheet" href="~/styles/btns.css" />
<div class="user-list clearfix" id="user-login-form">
    <button class="create-user-btn btns" id="create-user-btn">New User Add!</button>
    <div class="user-list-header-div clearfix">
        <span style="width:250px;" class="user-list-item">Full Name</span>
        <span class="user-list-item">Username</span>
        <span class="user-list-item">Email</span>
        <span class="user-list-item">Phone</span>
        <span class="user-list-item">Type</span>
        <span class="user-list-item">Manager</span>
        <span class="user-list-item">Gender</span>
        <span class="user-list-item">Is Active</span>
        <span class="user-list-item">BirthYear</span>
    </div>
</div>
<div id="error" style="margin-bottom:60px;margin-left:40px;display:none;"></div>
