.users-container {
    margin-top: 100px;
    padding-left: 2%;
    padding-right: 10%;
}
.sidebar {
    border: 1px solid black;
    border-radius: 5px 5px 5px 5px;
    float: left;
    width: 15%;
    padding-left: 15px;
    padding-right: 15px;
}
.user-list {
    float: right;
    position: relative;
    width: 80%;
}
.user-list :hover {
    background:#ebe7e7;
}
.user-list-header-div {
    background: #ddd5d5;
    padding: 15px 20px 15px 20px;
    border-bottom: 1px solid #858484;
    color: #4f3a3a;
    font-size: 20px;
    font-weight: bold;
}
.user-list-div {
    padding: 15px 20px 15px 20px;
    border-bottom: 1px solid #858484;
    color: #4f3a3a;
    font-size: 18px;
}
.user-list-item {
    display: block;
    float: left;
    width: 120px;
    margin-right: 12px;
    overflow: hidden;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.create-user-btn
{
    position:absolute;
    float:right;
    margin-right:30px;

    top:-50px;
    right:-30px;
}
.user-profile-link{
    color: #3f1980;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
.create-user-title
{
    margin-bottom:10px;
}
.create-user-div
{
    margin-bottom:15px;
}
.user-type
{
    margin-right:15px;
}
.manager-list
{
    display:none;
}
.manager-title
{
    display:none;
}
.page-numbers
{
    margin-top:50px;

    text-align:center;
}